<!--<object type="application/x-shockwave-flash" width="700px" height="700px" *ngIf="flashLink">-->
  <!--<param name="wmode" value="transparent" />-->
  <!--<param name="movie" value="{{flashLink}}" />-->
<!--</object>-->
  <!--<param name="movie" value="http://18.222.201.152:8084/api/1/file/aede41b3-3005-4e3c-af1c-291e7f7d193d"/>-->

<!--<div [innerHtml]="sanitizer.bypassSecurityTrustHtml(objectSwf)">-->
<!--<div [innerHtml]="sanitizer.bypassSecurityTrustHtml(objectSwf)"></div>-->

<div #swfDiv></div>
