<mat-tree [dataSource]="this.dataSelectedNotificationService.dataSource" [treeControl]="this.dataSelectedNotificationService.treeControl" class="example-tree">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
    <li *ngIf="node.hasTest || node.hasContent || isPanel()" class="mat-tree-node node-name" (click)="getSelectedNode(node, $event)">
      <!-- use a disabled button to provide padding for tree leaf -->
      <button mat-icon-button disabled></button>
      <p>{{node.fullName}}</p>
    </li>

    <li *ngIf="!(node.hasTest || node.hasContent || isPanel())" class="mat-tree-node node-name-revert">
      <!-- use a disabled button to provide padding for tree leaf -->
      <button mat-icon-button disabled></button>
      <p>{{node.fullName}}</p>
    </li>
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
    <li *ngIf="node.hasTest || node.hasContent || isPanel()" class="node-name">
      <div class="mat-tree-node" (click)="getSelectedNode(node, $event)">
        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.fullName">
          <mat-icon class="mat-icon-rtl-mirror">
            {{this.dataSelectedNotificationService.treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <p>{{node.fullName}}</p>
      </div>
      <ul [class.example-tree-invisible]="!this.dataSelectedNotificationService.treeControl.isExpanded(node)">
        <ng-container matTreeNodeOutlet></ng-container>
      </ul>
    </li>

    <li *ngIf="!(node.hasTest || node.hasContent || isPanel())" class="node-name-revert">
      <div class="mat-tree-node">
        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.fullName">
          <mat-icon class="mat-icon-rtl-mirror">
            {{this.dataSelectedNotificationService.treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <p>{{node.fullName}}</p>
      </div>
      <ul [class.example-tree-invisible]="!this.dataSelectedNotificationService.treeControl.isExpanded(node)">
        <ng-container matTreeNodeOutlet></ng-container>
      </ul>
    </li>
  </mat-nested-tree-node>
</mat-tree>
