<form name="editForm" role="form" novalidate #editForm="ngForm"
      (ngSubmit)="save()" xmlns="http://www.w3.org/1999/html">
  <div class="admin-panel">
    <mat-form-field class="admin-element">
      <input matInput placeholder="Название группы" [(ngModel)]="group.name" name="name" required>
    </mat-form-field>

    <button class="admin-element" mat-raised-button color="primary" [disabled]="!editForm.valid">Сохранить</button>
    <button type = "button" (click)="back()" class="admin-element" mat-raised-button>Назад</button>
  </div>
</form>
