<header class="header">
  <div class="header-wrapper">
    <div class="header__menu">
      <div class="header__block">
        <div class="logo">
          <img class="logo__img" src="../assets/img/MIREA_Gerb_Colour.png"/>
        </div>
      </div>
      <div class="header__block">
        <p class="header__text">МИРЭА - Российский технологический университет</p>
      </div>
      <div class="header__block">
        <div class="logo">
          <img class="logo__img" src="../assets/img/kaf.png"/>
        </div>
      </div>
    </div>
  </div>
</header>
