@font-face {
  font-family: Museo-1;
  src: url("../assets/font/MuseoSansCyrl_1.otf") format("opentype");
}

.auth-tab {
  display: flex;
  justify-content: center;
  height: 400px;
  overflow: auto;
}

.auth_block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

.auth-input {
  width: 100%;
}

.content {
  display: flex;
  justify-content: center;
  /*height: 800px;*/
  overflow: auto;
}

.menu {
  float: left;
  display: inline;
  width: 300px;
  border: 2px solid #e1e1e1;
}

.wrapper {
  width: 1280px;
  margin: 0 auto;
}

:-webkit-full-screen  {
  background: white;
}


