<div class="wrapper">
  <header class="header">
    <div class="header-wrapper">
        <div class="header__menu">
          <div class="header__block">
            <div class="logo">
              <img class="logo__img" src="https://www.mirea.ru/upload/medialibrary/80f/MIREA_Gerb_Colour.png"/>
            </div>
          </div>
          <div class="header__block">
            <p class="header__text">МИРЭА - Российский технологический университет</p>
          </div>
          <div class="header__block">
            <div class="logo">
              <img class="logo__img" src="https://psv4.userapi.com/c848336/u271463515/docs/d3/b19f71c73246/Znak_kafedra.jpg?extra=fg8mPr4eJGIUK_wJAQGx02xlhpxwcVdWFcTEZnQPgkK0nzQmeOSDhrN2eqCpltyaaRy32nU4FU2dTgSaxino5HY7JedLGTdgPGQDz2qM1xr-wTOdfwIvkL9ulvfnP6yX9eigv_XFt6SXsjFggZx9JbU"/>
            </div>
          </div>
        </div>
    </div>
  </header>

  <app-navigation-bar class="menu"></app-navigation-bar>

  <div class="content">
      <router-outlet></router-outlet>
  </div>
</div>
